@model IEnumerable<ChienThangComputer.SanPham>

@{
    ViewBag.Title = "RunAlgorithm";
    Layout = "~/Views/Layout/_LayoutPage.cshtml";
}

<div class="grid wide">
    <div class="product">
        @if (Model.Count() != 0)
        {
            <h3>Lớp khách hàng: @Session["finalClass"].ToString()</h3>
            <h3>Thông tin lớp: @Session["KNNClass"].ToString()</h3>
            <h3 class="text-center knn-result-heading">Sản phẩm có thể bạn thích</h3>
            <div class="row" id="sortby">
                @foreach (var item in Model)
                {
                    <div class="col l-2-4 m-4 c-6">
                        <div class="product__Item">
                            <div class="product__Item__OverlayEffect">
                                <a href="@Url.RouteUrl("ProductDetail", new { @id = item.MaSP, @name = item.TenSP.Replace(" ", "-") })" class="product__Item__Image">
                                    <img class="product-img" src="@Url.Content("/Images/" + item.Pic1)" />
                                </a>
                                <div class="product__Item__Detail">
                                    <a href="@Url.RouteUrl("ProductDetail", new { @id = item.MaSP, @name = item.TenSP.Replace(" ", "-") })">Click để xem chi tiết</a>
                                    <a href="@Url.RouteUrl("ProductDetail", new { @id = item.MaSP, @name = item.TenSP.Replace(" ", "-") })" class="add-to-cart">Đặt hàng</a>
                                </div>
                            </div>
                            <div class="product__Item__Name">
                                <h2>@item.TenSP</h2>
                            </div>
                            <div class="product__Item__Info">
                                @if (item.MaGiamGia != null && item.GiamGia.NgayBatDau < DateTime.Now && item.GiamGia.NgayKetThuc > DateTime.Now)
                                {
                                    <del>@String.Format("{0:0,0}", item.GiaNiemYet) đ</del><br />
                                    <span class="product__Item__Sale">@String.Format("{0:0,0}", item.GiamGia.GiaKhuyenMai) đ</span>
                                }
                                else
                                {
                                    <br />
                                    <span class="product__Item__Sale">@String.Format("{0:0,0}", item.GiaNiemYet) đ</span>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <h3 class="text-center knn-result-heading">Rất tiếc! Không có sản phẩm nào phù hợp với túi tiền của bạn</h3>
        }
    </div>
</div>
