@model IEnumerable<GVNClone.ThanhVien>
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Layout/_AdminLayout.cshtml";
}
<style>
    .lst-member #example-table_wrapper {
        border: 1px solid #ddd;
        padding-top:25px;
        padding-bottom:25px;
        border-top: none;
    }
</style>
<div class="ibox lst-member">
    <div class="ibox-head">
        <div class="ibox-title">Danh sách thành viên</div>
    </div>
    <div class="ibox-body">
        <ul class="nav nav-tabs mb-0">
            <li class="nav-item">
                <a class="nav-link active font-weight-bold" href="@Url.Action("Admin","Admin")">Admin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Customer","Admin")">Khách hàng</a>
            </li>
        </ul>
        <table class="table table-striped table-bordered table-hover" id="example-table" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Tên hiển thị</th>
                    <th>Mật khẩu</th>
                    <th>Họ tên</th>
                    <th>Địa chỉ</th>
                    <th>Số điện thoại</th>
                    <th>Email</th>
                    <th>Hành động</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Tên hiển thị</th>
                    <th>Mật khẩu</th>
                    <th>Họ tên</th>
                    <th>Địa chỉ</th>
                    <th>Số điện thoại</th>
                    <th>Email</th>
                    <th>Hành động</th>
                </tr>
            </tfoot>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr>
                        <td>@item.TaiKhoan</td>
                        <td>@item.MatKhau</td>
                        <td>@item.HoTen</td>
                        <td>@item.DiaChi</td>
                        <td>@item.SoDienThoai</td>
                        <td>@item.Email</td>
                        <td>
                            <a href="@Url.Action("EditMember", "Admin", new { @id = item.MaTV})" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Edit">Chỉnh sửa</a>
                           @* <button class="btn btn-default btn-xs btn-delete-member" data-toggle="tooltip" data-placement="top" data-id="@item.MaTV" title="Delete"><i class="fa fa-trash font-14" style="cursor:pointer"></i></button>*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>




