@model IEnumerable<GVNClone.SuKienKhuyenMai>
@{
    ViewBag.Title = "EventSale";
    Layout = "~/Views/Layout/_AdminLayout.cshtml";
}

<h2>EventSale</h2>

<div class="ibox">
    <div class="ibox-head">
        <div class="ibox-title">Danh sách sự kiện khuyến mãi</div>
    </div>
    <div class="ibox-body">
        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
        }
        else
        {
            <table class="table table-striped table-bordered table-hover" id="example-table" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Mã KM</th>
                        <th>Tên KM</th>
                        <th>Ngày bắt đầu</th>
                        <th>Ngày kết thúc</th>
                        <th>Giá trị khuyến mãi</th>
                        <th>Giá trị đơn hàng</th>
                        <th>Số lần sử dụng</th>
                        <th>Số lượng còn lại</th>
                        <th>Phạm vi áp dụng</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Mã KM</th>
                        <th>Tên KM</th>
                        <th>Ngày bắt đầu</th>
                        <th>Ngày kết thúc</th>
                        <th>Giá trị khuyến mãi</th>
                        <th>Giá trị đơn hàng</th>
                        <th>Số lần sử dụng</th>
                        <th>Số lượng còn lại</th>
                        <th>Phạm vi áp dụng</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.MaKM</td>
                            <td>@item.TenKM</td>
                            <td>@Html.FormatValue(item.NgayBatDau, "{0:HH:mm dd/MM/yyyy}")</td>
                            <td>@Html.FormatValue(item.NgayKetThuc, "{0:HH:mm dd/MM/yyyy}")</td>
                            <td>@String.Format("{0:0,0}", item.GiaTriKM) đ</td>
                            <td>@String.Format("{0:0,0}", item.GiaTriDonHang) đ</td>
                            <td>@item.SoLanSuDung</td>
                            <td>@item.SoLuongConLai</td>
                            <td>@item.PhamViApDung</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>