@model IEnumerable<ChienThangComputer.PhieuNhap>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/_AdminLayout.cshtml";
}

<div class="ibox">
    <div class="ibox-head">
        <div class="ibox-title">Danh sách phiếu nhập</div>
        <div class="ibox-tools">
            <a class="ibox-collapse"><i class="fa fa-minus"></i></a>
            <a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i></a>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item">Detail</a>
            </div>
        </div>
    </div>
    <div class="ibox-body">
        <table class="table table-striped table-bordered table-hover" id="example-table1" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Mã phiếu nhập</th>
                    <th>Mã NCC</th>
                    <th>Ngày nhập</th>
                    <th>Tổng tiền thanh toán</th>
                    <th>Số tiền đã trả</th>
                    <th>Số tiền nợ</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Mã phiếu nhập</th>
                    <th>Mã NCC</th>
                    <th>Ngày nhập</th>
                    <th>Tổng tiền thanh toán</th>
                    <th>Số tiền đã trả</th>
                    <th>Số tiền nợ</th>
                    <th>Action</th>
                </tr>
            </tfoot>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.MaPN</td>
                        <td>@item.MaNCC</td>
                        <td>@Html.FormatValue(item.NgayNhap, "{0:HH:mm dd-MM-yyyy}")</td>
                        <td class="total">@String.Format("{0:0,0}", item.TongTienThanhToan) VNĐ</td>
                        <td>@String.Format("{0:0,0}", item.SoTienDaTra) VNĐ</td>
                        <td>@String.Format("{0:0,0}", item.SoTienNo) VNĐ</td>
                        <td>
                            <button class="btn btn-success btn-detail-irv" data-id="@item.MaPN">Chi tiết</button>
                            <butto class="btn btn-danger btn-delete-IRV px-4 mr-3" type="submit" style="cursor:pointer" data-id="@item.MaPN">Xoá</butto>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="md-detail-irv" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thông tin chi tiết</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="result"></div>
        </div>
    </div>
</div>
<div id="view" class="d-none">
    @Html.Action("PaymentPartial", "Debt")
</div>
@section jsFooter{
    <script>
        let btnDetail = $(".btn-detail-irv");
        let btnDelete = $(".btn-delete-IRV");
        $("#loading-wrap-config").click(function () {
            closeModal();
        })

        function closeModal() {
            $("#loading-full-screen-get-data-from-ajax, #loading-wrap-config").css({
                opacity: '0',
                visibility: 'hidden'
            })
        }

        function openModal() {
            $("#md-detail-irv").modal('show');
        }

        $(document).keydown(function (e) {
            if (e.which === 27) {
                closeModal();
            }
        })

        btnDetail.click(function () {
            $(".modal-content").css("width", "800px");
            $(".modal-dialog").css("max-width", "800px");
            var getID = $(this).data("id");
            $.ajax({
                type: 'POST',
                url: '/Inventory/ViewDetail',
                data: { id: getID },
                beforeSend: function () {
                    $("#loading-full-screen-get-data-from-ajax, #loading-wrap-config").css({
                        opacity: '1',
                        visibility: 'visible'
                    });
                    $("#result").empty();
                },
                success: function (res) {
                    setTimeout(() => {
                        closeModal();
                        if (res.statusCode === 404) {
                            console.log(res.message);
                        } else {
                            $("#result").html(res);
                        }
                        openModal();
                    }, 700);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR.status);
                    console.log(errorThrown);
                }
            })
        })

        btnDelete.click(function () {
            var getID = $(this).data("id");
            Swal.fire({
                title: 'Question',
                text: "Bạn có chắc chắn muốn xoá phiếu nhập không?",
                icon: 'question',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Confirm'
            }).then(function (result) {
                if (result.isConfirmed) {
                    $.ajax({
                        type: 'POST',
                        url: '/Inventory/Delete_IRV',
                        data: { id: getID },
                        success: function (res) {
                            if (res.statusCode === 200) {
                                Swal.fire({
                                    title: 'Success',
                                    text: res.message,
                                    icon: 'success'
                                }).then(function (res) {
                                    location.reload();
                                })
                            } else {
                                console.log(res.message);
                            }
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            console.log(jqXHR.status);
                            console.log(errorThrown);
                        }
                    })
                }
            })
        })
    </script>
}
