<nav class="page-sidebar" id="sidebar">
    <div id="sidebar-collapse">
        <div class="admin-block d-flex">
            <div>
                <img src="~/Content/AdminLayout/assets/img/admin-avatar.png" width="45px" />
            </div>
            <div class="admin-info">
                <div class="font-strong">Admin</div><small>@Session["TaiKhoan"]</small>
            </div>
        </div>
        <ul class="side-menu metismenu">
            <li>
                <a class="active" href="@Url.Action("Dashboard","Admin")">
                    <i class="sidebar-item-icon fa fa-th-large"></i>
                    <span class="nav-label">Dashboard</span>
                </a>
            </li>
            <li class="heading">FEATURES</li>
            <li>
                <a href="javascript:;">
                    <i class="sidebar-item-icon fa fa-sitemap"></i>
                    <span class="nav-label">Quản lý</span><i class="fa fa-angle-left arrow"></i>
                </a>
                <ul class="nav-2-level collapse">
                    <li>
                        <a href="javascript:;">
                            <span class="nav-label">Sản phẩm</span><i class="fa fa-angle-left arrow"></i>
                        </a>
                        <ul class="nav-3-level collapse">
                            <li>
                                @Html.ActionLink("Thêm sản phẩm", "AddProduct", "Admin")
                            </li>
                            <li>
                                <a href="@Url.Action("AllProducts","Admin")">Tất cả sản phẩm</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <span class="nav-label">Nhập hàng</span><i class="fa fa-angle-left arrow"></i>
                        </a>
                        <ul class="nav-3-level collapse">
                            <li>
                                @Html.ActionLink("Sản phẩm sắp hết hàng", "OutOfStock", "Admin")
                            </li>
                            <li>
                                <a href="@Url.Action("PurchaseProducts","Admin")">Tất cả sản phẩm</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <span class="nav-label">Quà tặng</span><i class="fa fa-angle-left arrow"></i>
                        </a>
                        <ul class="nav-3-level collapse">
                            <li>
                                @Html.ActionLink("Thêm quà tặng", "AddPresent", "Admin")
                            </li>
                            <li>
                                @Html.ActionLink("Xem tất cả", "Present", "Admin")
                            </li>
                            <li>
                                @Html.ActionLink("Danh sách quà tặng", "ListPresent", "Admin")
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <span class="nav-label">Thành viên</span><i class="fa fa-angle-left arrow"></i>
                        </a>
                        <ul class="nav-3-level collapse">
                            <li>
                                @Html.ActionLink("Thêm thành viên", "AddMember", "Admin")
                            </li>
                            <li>
                                @Html.ActionLink("Xem tất cả", "Admin", "Admin")
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <span class="nav-label">Phiếu nhập</span><i class="fa fa-angle-left arrow"></i>
                        </a>
                        <ul class="nav-3-level collapse">
                            <li>
                                <a href="@Url.Action("Index","Inventory")">Tất cả phiếu nhập</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","Debt")">
                                    <span class="nav-label">Công nợ</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <span class="nav-label">Tin công nghệ</span><i class="fa fa-angle-left arrow"></i>
                        </a>
                        <ul class="nav-3-level collapse">
                            <li>
                                @Html.ActionLink("Thêm tin mới", "AddTechNew", "CRUDTechNews")
                            </li>
                            <li>
                                <a href="@Url.Action("ViewAll","CRUDTechNews")">Tất cả tin</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="@Url.Action("Index","Highchart")">
                    <i class="sidebar-item-icon fa fa-bar-chart"></i>
                    <span class="nav-label">Thống kê</span>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="sidebar-item-icon fa fa-shopping-cart"></i>
                    <span class="nav-label">Đơn hàng</span><i class="fa fa-angle-left arrow"></i>
                </a>
                <ul class="nav-2-level collapse">
                    <li>
                        <a href="@Url.Action("ListOfOrder","Admin")">Danh sách đơn hàng</a>
                    </li>
                    <li>
                        <a href="@Url.Action("OrderProcessing","Admin")">Đơn hàng cần xử lý</a>
                    </li>
                    <li>
                        <a href="@Url.Action("OrderExpired","Admin")">Đơn hàng đã huỷ</a>
                    </li>
                    <li>
                        <a href="@Url.Action("OrderShipped","Admin")">Đơn hàng đã giao</a>
                    </li>

                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="sidebar-item-icon fa fa-tags"></i>
                    <span class="nav-label">Khuyến mãi</span><i class="fa fa-angle-left arrow"></i>
                </a>
                <ul class="nav-2-level collapse">
                    <li>
                        <a href="@Url.Action("Index","SaleOff")">Giảm giá trực tiếp</a>
                    </li>
                    <li>
                        <a href="@Url.Action("CreateVoucher","SaleOff")">Tạo mã khuyến mãi</a>
                    </li>
                    <li>
                        <a href="@Url.Action("EventSale","SaleOff")">Danh sách khuyến mãi</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="sidebar-item-icon fa fa-cogs"></i>
                    <span class="nav-label">Cấu hình</span><i class="fa fa-angle-left arrow"></i>
                </a>
                <ul class="nav-2-level collapse">
                    <li>
                        <a href="@Url.Action("Index","EmailConfig")">Mẫu Email</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="@Url.Action("Index","Trash")">
                    <i class="sidebar-item-icon fa fa-trash"></i>
                    <span class="nav-label">Thùng rác</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
