@model IEnumerable<ChienThangComputer.SanPham>
@{
    ViewBag.Title = "ListProductVoucher";
    Layout = "~/Views/Layout/_LayoutPage.cshtml";
}

@{
    SuKienKhuyenMai cps = ViewBag.Voucher as SuKienKhuyenMai;
}

<div class="grid wide">
    <div class="cps-vouchers-block cps-vouchers-maxw">
        <div class="cps-voucher-row">
            <div class="cps-vouchers-wrap">
                <div class="cps-vouchers-left">
                    <div class="cps-vouchers-image">
                        <img src="/Images/icon_Logo.png" alt="">
                    </div>
                    <div class="cps-vouchers-text">Chiến Thắng</div>
                    <div class="cps-vouchers-border-left">
                        <div class="cps-border-left"></div>
                    </div>
                </div>
                <div class="cps-vouchers-right">
                    <div class="cps-vouchers-title">
                        <div class="cps-vouchers-title-text">@cps.TenKM</div>
                    </div>
                    <div class="cps-vouchers-note">
                        <div class="cps-vouchers-progress">
                            <div style="height: 100%; background: linear-gradient(270deg,#1190cb85 0%, #1190cb 100%)"></div>
                        </div>
                        <div class="cps-vouchers-duration">
                            <span class="cps-vouchers-percent-used"></span>
                            -
                            <span id="cps-daysLeft"></span>
                            <div class="cps-voucher-detail hide-on-mobile-tablet">
                                <div class="cps-vouchers-tooltip">
                                    <a href="javascript:;">
                                        Chi tiết
                                        <span class="cps-vouchers-tooltiptext">
                                            Mã @cps.MaKM giảm @String.Format("{0:0,0}", cps.GiaTriKM)đ cho đơn hàng có giá trị từ @String.Format("{0:0,0}", cps.GiaTriDonHang)đ. Hạn sử dụng: @cps.NgayBatDau đến @cps.NgayKetThuc. Số lượng có hạn. Áp dụng cho 1 số người dùng nhất định.
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <a href="javascript:;" class="cps-btn-get-voucher cps-btn-get-voucher-shot" data-id="@cps.MaKM.Trim()">Copy mã</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product">
        <div class="product__Wrap-Sort-By">
            <div class="row no-gutters" style="width:100%">
                <div class="c-12 l-12 m-12">
                    <div class="price-range-block">

                        <h2>Lọc theo giá</h2>
                        <div class="is-divider"></div>

                        <div id="slider-range" class="price-filter-range" name="rangeInput"></div>

                        <div class="price_slider_amount">
                            <button class="price-range-search" id="js-price-range-submit">Lọc</button>
                            <div class="price_label">
                                <span></span>
                                <span class="from" id="min_price"></span>đ —
                                <span class="to" id="max_price"></span>đ
                            </div>
                        </div>
                        <input type="number" hidden id="min_price_input" name="min_price"
                               class="price-range-field" />
                        <input type="number" hidden id="max_price_input" name="max_price"
                               class="price-range-field" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="sortby">
            @foreach (var item in Model)
            {
                <div class="col l-2-4 m-4 c-6">
                    <div class="product__Item">
                        <div class="product__Item__OverlayEffect">
                            <a href="@Url.RouteUrl("ProductDetail", new { @id = item.MaSP, @name = item.TenSP.Replace(" ", "-") })" class="product__Item__Image">
                                <img class="product-img" src="@Url.Content("/Images/" + item.Pic1)" />
                            </a>
                            <div class="product__Item__Detail">
                                <a href="@Url.RouteUrl("ProductDetail", new { @id = item.MaSP, @name = item.TenSP.Replace(" ", "-") })">Click để xem chi tiết</a>
                                <a href="@Url.RouteUrl("ProductDetail", new { @id = item.MaSP, @name = item.TenSP.Replace(" ", "-") })" class="add-to-cart">Đặt hàng</a>
                            </div>
                        </div>
                        <div class="product__Item__Name">
                            <h2>@item.TenSP</h2>
                        </div>
                        <div class="product__Item__Info">
                            @if (item.MaGiamGia != null && item.GiamGia.NgayBatDau < DateTime.Now && item.GiamGia.NgayKetThuc > DateTime.Now)
                            {
                                <del>@String.Format("{0:0,0}", item.GiaNiemYet) đ</del><br />
                                <span class="product__Item__Sale">@String.Format("{0:0,0}", item.GiamGia.GiaKhuyenMai) đ</span>
                            }
                            else
                            {
                                <br />
                                <span class="product__Item__Sale">@String.Format("{0:0,0}", item.GiaNiemYet) đ</span>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
</div>

@section jsFooter{
    <script>
        $(document).ready(function () {
            $(function () {
                $("#slider-range").slider({
                    range: true,
                    orientation: "horizontal",
                    min: @ChienThangComputer.Models.GlobalVariables.min_price_range_slider,
                    max: @ChienThangComputer.Models.GlobalVariables.max_price_range_slider,
                    values: [@ChienThangComputer.Models.GlobalVariables.min_price_range_slider, @ChienThangComputer.Models.GlobalVariables.max_price_range_slider],
                    step: 1,

                    slide: function (event, ui) {
                        if (ui.values[0] == ui.values[1]) {
                            return false;
                        }
                        $("#min_price").text(ui.values[0].toLocaleString());
                        $("#max_price").text(ui.values[1].toLocaleString());
                        $("#min_price_input").val(ui.values[0]);
                        $("#max_price_input").val(ui.values[1]);
                    }
                });
                $("#min_price").text($("#slider-range").slider("values", 0).toLocaleString());
                $("#max_price").text($("#slider-range").slider("values", 1).toLocaleString());
                $("#min_price_input").val($("#slider-range").slider("values", 0));
                $("#max_price_input").val($("#slider-range").slider("values", 1));
            });
            handleTimeRemaining();
            handlePercentRemaining();
        });


        function handleTimeRemaining() {
            let cpsDaysLeft = document.getElementById("cps-daysLeft");
            let addZeroes = num => num >= 10 ? num : `0${num}`;
            let endDate = new Date(@cps.NgayKetThuc.Value.Year, addZeroes(@cps.NgayKetThuc.Value.Month - 1), addZeroes(@cps.NgayKetThuc.Value.Day), addZeroes(@cps.NgayKetThuc.Value.Hour), addZeroes(@cps.NgayKetThuc.Value.Minute));
            let endTime = endDate.getTime();

            let todayDate = new Date();
            let todayTime = todayDate.getTime();
            let remainingTime = endTime - todayTime;
            let oneMin = 60 * 1000;
            let oneHour = 60 * oneMin;
            let oneDay = 24 * oneHour;

            let daysLeft = Math.floor(remainingTime / oneDay);
            let hoursLeft = Math.floor((remainingTime % oneDay) / oneHour);
            let minsLeft = Math.floor((remainingTime % oneHour) / oneMin);
            if (daysLeft !== 0) {
                cpsDaysLeft.innerText = "Hết hạn sau " + daysLeft + " ngày";
            }
            else if (daysLeft === 0 && hoursLeft !== 0) {
                cpsDaysLeft.innerText = "Hết hạn sau " + hoursLeft + " tiếng nữa";
            }
            else if (hoursLeft === 0 && minsLeft !== 0 && daysLeft === 0) {
                cpsDaysLeft.innerText = "Hết hạn sau " + minsLeft + " phút nữa";
            }
        }


        function handlePercentRemaining() {
            let totalQuantity = @cps.SoLanSuDung;
            let remainQuantity = @cps.SoLuongConLai;

            let percentRemaining = Math.floor(remainQuantity / totalQuantity * 100);

            let percentUsed = document.querySelector(".cps-vouchers-percent-used");
            percentUsed.innerText = "Còn lại " + percentRemaining + "%";

            let cpsPercentRemaining = document.querySelector(".cps-vouchers-progress > div");
            cpsPercentRemaining.style.width = percentRemaining + "%";
        }

        $("#js-price-range-submit").on("click", function () {
            var min_price = $("#min_price_input").val();
            var max_price = $("#max_price_input").val();
            $.ajax({
                type: 'POST',
                url: '/Home/PartialFilterPriceVoucher',
                data: { min_price: min_price, max_price: max_price, idVoucher: "@Html.Raw(ViewBag.DataIDVoucher)" },
                success: function (response) {
                    if ($.trim(response) != "") {
                        $("#sortby").html(response);
                        Toast("Thông báo", "Lọc sản phẩm thành công", "success", 3000);
                    } else {
                        $("#sortby").html(response);
                        Toast("Thông báo", "Không có sản phẩm nào phù hợp", "error", 3000);
                    }

                },
                error: function (error) {
                    console.log(error);
                }
            })
        })

        $(".cps-btn-get-voucher").click(function () {
            $(this).text('Đã copy');
            navigator.clipboard.writeText($(this).attr("data-id"));
        })



    </script>
}

