@model PagedList.IPagedList<ChienThangComputer.SanPham>

@using PagedList.Mvc;

@{
    ViewBag.Title = "View_All_PC_BestSelling";
    Layout = "~/Views/Layout/_LayoutPage.cshtml";
}


<div class="grid wide">
    <div class="product">
        <h1 style="margin-bottom:40px">Top PC Bán Chạy</h1>
        <div class="row" id="sortby">
            @foreach (var item in Model)
            {
                <div class="col l-2-4 m-4 c-6">
                    <div class="product__Item">
                        <div class="product__Item__OverlayEffect">
                            <a href="@Url.RouteUrl("ProductDetail", new { @id = item.MaSP, @name = item.TenSP.Replace(" ", "-") })" class="product__Item__Image">
                                <img class="product-img" src="@Url.Content("/Images/" + item.Pic1)" />
                            </a>
                            <div class="product__Item__Detail">
                                <a href="@Url.RouteUrl("ProductDetail", new { @id = item.MaSP, @name = item.TenSP.Replace(" ", "-") })">Click để xem chi tiết</a>
                                <a href="@Url.RouteUrl("ProductDetail", new { @id = item.MaSP, @name = item.TenSP.Replace(" ", "-") })" class="add-to-cart">Đặt hàng</a>
                            </div>
                        </div>
                        <div class="product__Item__Name">
                            <h2>@item.TenSP</h2>
                        </div>
                        <div class="product__Item__Info">
                            @if (item.MaGiamGia != null && item.GiamGia.NgayBatDau < DateTime.Now && item.GiamGia.NgayKetThuc > DateTime.Now)
                            {
                                <del>@String.Format("{0:0,0}", item.GiaNiemYet) đ</del><br />
                                <span class="product__Item__Sale">@String.Format("{0:0,0}", item.GiamGia.GiaKhuyenMai) đ</span>
                            }
                            else
                            {
                                <br />
                                <span class="product__Item__Sale">@String.Format("{0:0,0}", item.GiaNiemYet) đ</span>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="pagelist">
            @Html.PagedListPager(Model, page => Url.Action("View_All_PC_BestSelling", new { page = page }))
        </div>
    </div>
</div>
