@model IEnumerable<GVNClone.ChiTietPhieuNhap>

@{
    NhaCungCap sup = ViewBag.Supplier as NhaCungCap;
    PhieuNhap irv = ViewBag.DetailIRV as PhieuNhap;
}

<div class="box-irv">
    <div class="box-irv-header">
        <div class="box-irv-header-inner text-center">
            <p class="box-irv-header-name-company font-weight-bold">@sup.TenNCC</p>
            <p class="box-irv-header-address">@sup.DiaChi</p>
        </div>
    </div>
    <div class="box-irv-body">
        <h1 class="text-center font-weight-bold">Phiếu nhập kho</h1>
        <p class="date-import text-center">Ngày @irv.NgayNhap.Value.Day tháng @irv.NgayNhap.Value.Month năm @irv.NgayNhap.Value.Year</p>
        <p class="supplier"><span class="font-weight-bold">Nhà cung cấp:</span> @sup.TenNCC</p>
        <p><span class="font-weight-bold">Số điện thoại: </span>@sup.SDT</p>
        <div class="d-flex justify-content-between">
            <p><span class="font-weight-bold">Nhập tại kho:</span> Chiến Thắng Computer</p>
            <p><span class="font-weight-bold">Địa chỉ:</span> Số 12,KDT Quang Trung, Thái Bình</p>
        </div>
        <table class="table table-striped table-bordered table-hover" id="example-table" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Mã phiếu nhập</th>
                    <th>Mã SP</th>
                    <th>Đơn giá nhập</th>
                    <th>Số lượng nhập</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.MaChiTietPN</td>
                        <td>@item.MaPN</td>
                        <td>@item.MaSP</td>
                        <td>@String.Format("{0:0,0}", item.DonGiaNhap) VNĐ</td>
                        <td>@item.SoLuongNhap</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4">Tổng cộng</td>
                    <td class="text-danger font-weight-bold">@String.Format("{0:0,0}", irv.TongTienThanhToan) VNĐ</td>
                </tr>
            </tfoot>
        </table>
        <p class="total-irv font-weight-bold"><span class="d-inline-block w-25">Tổng thanh toán:</span> <span class="text-danger">@String.Format("{0:0,0}", irv.TongTienThanhToan) VNĐ</span></p>
        <p class="paid font-weight-bold"><span class="d-inline-block w-25">Tổng tiền đã trả:</span> <span class="text-danger">@String.Format("{0:0,0}", irv.SoTienDaTra) VNĐ</span></p>
        <p class="debt font-weight-bold"><span class="d-inline-block w-25">Tổng tiền còn nợ:</span> <span class="text-danger">@String.Format("{0:0,0}", irv.SoTienNo) VNĐ</span></p>
    </div>
</div>
<div class="text-right">
    <button class="btn btn-dark" id="btn-print-irv">In phiếu nhập</button>
</div>
<script>
    $("#btn-print-irv").click(function () {
        var content = $(".box-irv").html();
        printIRV(content);
    })

    function printIRV(content) {
        var printWindow = window.open("", "", "height=400", "width=1200");
        printWindow.document.write("<html><head><title>Phiếu nhập</title>");
        printWindow.document.write("<link href='/Content/AdminLayout/assets/css/main.css' rel='stylesheet' />");
        printWindow.document.write("</head><body>");
        printWindow.document.write(content);
        printWindow.document.write("</body></html>");
        printWindow.document.write()
        printWindow.print();
        printWindow.document.close();
    }
</script>



