@model IEnumerable<GVNClone.SanPham>


<div class="banner-wrapper">
    <div class="grid wide par-ban">
        <div class="banner">
            <div class="banner__content">
                <div class="menu-left hide-on-mobile-tablet">
                    <ul>
                        @foreach (var item in Model.GroupBy(n => n.LoaiSanPham))
                        {
                            <li>
                                <a href="@Url.Action("ProductFilter", "Product", new { @id = item.Key.MaLoaiSP })" class="categories-item"><img class="categories-item__icon" width="20" height="19" src="@Url.Content("/Images/" + item.Key.Icon)" />@item.Key.TenLoaiSP</a>
                                <div class="megaMenu absolute-center">
                                    <div class="menu-left__Sub-menu">
                                        <div class="menu-left__Sub-menu__Container-content-column-79p">
                                            @foreach (var sp in item.GroupBy(n => n.DanhMuc))
                                            {
                                                <div class="sub-cat-item">
                                                    <a href="javascript:;" class="sub-cat-item-title">@sp.Key.TenDM</a>
                                                    @foreach (var nsx in sp.GroupBy(n => n.LoaiDanhMuc))
                                                    {
                                                        <a href="@Url.Action("ProductFilter", "Product", new { @maLoaiDM = nsx.Key.MaLoaiDM, @IDDM = sp.Key.IDDM })" class="sub-cat-item-filter">@nsx.Key.TenLoaiDM</a>
                                                    }
                                                </div>
                                            }
                                        </div>
                                        <div class="menu-left__Sub-menu__Advertise hide-on-pc-low-resolution">
                                            <img src="~/Images/xxxbannerxxx1.png" />
                                        </div>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
                <div class="banner__right">
                    <div class="row">
                        <div class="col l-8 m-12 c-12 xl-12">
                            <div class="row">
                                <div class="col l-12 m-12 c-12 x-12">
                                    <div class="carousel">
                                        <div class="carousel-item">
                                            <a href="" class="carousel-inner__link">
                                                <img class="carousel-inner__img" src="/Images/SlideShow/slideshow_1.png">
                                            </a>
                                        </div>
                                        <div class="carousel-item">
                                            <a href="" class="carousel-inner__link">
                                                <img class="carousel-inner__img" src="/Images/SlideShow/slideshow_2.png">
                                            </a>
                                        </div>
                                        <div class="carousel-item">
                                            <a href="" class="carousel-inner__link">
                                                <img class="carousel-inner__img" src="/Images/SlideShow/slideshow_3.jpg">
                                            </a>
                                        </div>
                                        <div class="carousel-item">
                                            <a href="" class="carousel-inner__link">
                                                <img class="carousel-inner__img" src="/Images/SlideShow/slideshow_4.jpg">
                                            </a>
                                        </div>
                                        <div class="carousel-item">
                                            <a href="" class="carousel-inner__link">
                                                <img class="carousel-inner__img" src="/Images/SlideShow/slideshow_5.jpg">
                                            </a>
                                        </div>
                                        <div class="carousel-item">
                                            <a href="" class="carousel-inner__link">
                                                <img class="carousel-inner__img" src="/Images/SlideShow/slideshow_6.jpg">
                                            </a>
                                        </div>
                                        <div class="carousel-item">
                                            <a href="" class="carousel-inner__link">
                                                <img class="carousel-inner__img" src="/Images/SlideShow/slideshow_7.jpg">
                                            </a>
                                        </div>
                                        <div class="carousel-item">
                                            <a href="" class="carousel-inner__link">
                                                <img class="carousel-inner__img" src="/Images/SlideShow/slideshow_8.jpg">
                                            </a>
                                        </div>
                                        <div class="carousel-item">
                                            <a href="" class="carousel-inner__link">
                                                <img class="carousel-inner__img" src="/Images/SlideShow/slideshow_9.jpg">
                                            </a>
                                        </div>
                                        <div class="carousel-item">
                                            <a href="" class="carousel-inner__link">
                                                <img class="carousel-inner__img" src="/Images/SlideShow/slideshow_10.jpg">
                                            </a>
                                        </div>
                                        <div class="carousel-item">
                                            <a href="" class="carousel-inner__link">
                                                <img class="carousel-inner__img" src="/Images/SlideShow/slideshow_15.jpg">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col l-6 m-6 c-12 xl-6">
                                    <div class="banner__right-wrapper">
                                        <a href="" class="banner__right-wrapper-link"><img class="banner__right-wrapper-img" src="~/Images/solid4.jpg" /></a>
                                    </div>
                                </div>
                                <div class="col l-6 m-6 c-12 xl-6">
                                    <div class="banner__right-wrapper">
                                        <a href="" class="banner__right-wrapper-link"><img class="banner__right-wrapper-img" src="~/Images/solid5.jpg" /></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col l-4 m-0 c-0 xl-0">
                            <div class="row">
                                <div class="col l-12">
                                    <div class="banner__right-wrapper">
                                        <a href="" class="banner__right-wrapper-link"><img class="banner__right-wrapper-img" src="~/Images/solid1.jpg" /></a>
                                    </div>

                                </div>
                                <div class="col l-12">
                                    <div class="banner__right-wrapper">
                                        <a href="" class="banner__right-wrapper-link"><img class="banner__right-wrapper-img" src="~/Images/solid2.jpg" /></a>
                                    </div>
                                </div>
                                <div class="col l-12">
                                    <div class="banner__right-wrapper">
                                        <a href="" class="banner__right-wrapper-link"><img class="banner__right-wrapper-img" src="~/Images/solid3.jpg" /></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid wide">
            <div class="row">
                <div class="col l-3 m-6 c-12 xl-6">
                    <div class="more__Gift-Wrapper">
                        <img src="/Images/xxxbanner1.jpg" />
                    </div>
                </div>
                <div class="col l-3 m-6 c-12 xl-6">
                    <div class="more__Gift-Wrapper">
                        <img src="/Images/xxxbanner2.jpg" />
                    </div>
                </div>
                <div class="col l-3 m-6 c-12 xl-6">
                    <div class="more__Gift-Wrapper">
                        <img src="/Images/xxxbanner3.jpg" />
                    </div>
                </div>
                <div class="col l-3 m-6 c-12 xl-6">
                    <div class="more__Gift-Wrapper">
                        <img src="/Images/xxxbanner4.jpg" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


