@model IEnumerable<GVNClone.SanPham>

<div class="handle-effect-hover-megamenu">
    <div class="menu-left">
        <ul>
            @foreach (var item in Model.GroupBy(n => n.LoaiSanPham))
            {
                <li>
                    <a href="@Url.Action("ProductFilter", "Product", new { @id = item.Key.MaLoaiSP })" class="categories-item"><img width="20" height="19" src="@Url.Content("/Images/" + item.Key.Icon)" class="categories-item__icon" />@item.Key.TenLoaiSP</a>
                    <div class="megaMenu absolute-center">
                        <div class="menu-left__Sub-menu">
                            <div class="menu-left__Sub-menu__Container-content-column-79p">
                                @foreach (var sp in item.GroupBy(n => n.DanhMuc))
                                {
                                    <div class="sub-cat-item">
                                        <a href="javascript:;" class="sub-cat-item-title">@sp.Key.TenDM</a>
                                        @foreach (var nsx in sp.GroupBy(n => n.LoaiDanhMuc))
                                        {
                                            <a href="@Url.Action("ProductFilter", "Product", new { @maLoaiDM = nsx.Key.MaLoaiDM, @IDDM = sp.Key.IDDM })" class="sub-cat-item-filter">@nsx.Key.TenLoaiDM</a>
                                        }
                                    </div>
                                }
                            </div>
                            <div class="menu-left__Sub-menu__Advertise">
                                <img src="~/Images/xxxbannerxxx1.png" />
                            </div>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>

