@model IEnumerable<ChienThangComputer.SanPham>

@{
    ViewBag.Title = "Present";
    Layout = "~/Views/Layout/_AdminLayout.cshtml";
}


<div class="ibox">
    <div class="ibox-head">
        <div class="ibox-title">Danh sách sản phẩm</div>
    </div>
    <div class="ibox-body">
        <table class="table table-striped table-bordered table-hover" id="example-table" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Hình ảnh</th>
                    <th>Tên sản phẩm</th>
                    <th>Giá niêm yết</th>
                    <th>Giá khuyến mãi</th>
                    <th>Số lần mua</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Hình ảnh</th>
                    <th>Tên sản phẩm</th>
                    <th>Giá niêm yết</th>
                    <th>Giá khuyến mãi</th>
                    <th>Số lần mua</th>
                    <th>Action</th>
                </tr>
            </tfoot>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td><img src="@Url.Content("/Images/" +item.Pic1)" width="60" /></td>
                        <td>@item.TenSP</td>
                        @if (item.MaGiamGia != null && item.GiamGia.NgayBatDau < DateTime.Now && item.GiamGia.NgayKetThuc > DateTime.Now)
                        {
                            <td>@String.Format("{0:0,0}", item.GiaNiemYet) đ</td>
                            <td>@String.Format("{0:0,0}", item.GiamGia.GiaKhuyenMai) đ</td>
                        }
                        else
                        {
                            <td>@String.Format("{0:0,0}", item.GiaNiemYet)</td>
                            <td>0</td>
                        }
                        <td>@item.SoLanMua</td>
                        <td>
                            <button class="btn btn-dark btn-present" data-id="@item.MaSP" style="cursor:pointer">Quà tặng</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="ViewPresent" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width:800px">
        <div class="modal-content" style="width:800px">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Danh sách quà tặng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="result-present">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section jsFooter{
    <script>
        var mdOverlay = $('.md-overlay');
        var mdContent = $(".md-content");

        $(".btn-present").click(function () {
            var getID = $(this).data("id");
            $.ajax({
                type: 'POST',
                url: '/Admin/ViewPresent',
                data: { id: getID },
                beforeSend: function () {
                    $("#loading-full-screen-get-data-from-ajax, #loading-wrap-config").css({
                        opacity: '1',
                        visibility: 'visible'
                    })
                },
                success: function (res) {
                    setTimeout(() => {
                        closeModal();
                        if (res.statusCode === 404) {
                            Swal.fire({
                                text: res.message,
                                icon: 'error'
                            })
                            console.log(res.message);
                        } else {
                            $("#result-present").html(res);
                        }
                        openModalBS();
                    }, 700);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR.status);
                    console.log(errorThrown);
                }
            })
        });

        function openModalBS() {
            $("#ViewPresent").modal('show');

        }

        function closeModal() {
            $("#loading-full-screen-get-data-from-ajax, #loading-wrap-config").css({
                opacity: '0',
                visibility: 'hidden'
            });
            mdContent.removeClass("md-show");
            mdOverlay.removeClass("md-show");
        }

    </script>
}
