@model PagedList.IPagedList<GVNClone.SanPham>

@using PagedList.Mvc;

@{
    ViewBag.Title = "SearchProduct";
    Layout = "~/Views/Layout/_LayoutPage.cshtml";
}


<div class="grid wide">
    @if (ViewBag.Result != 0)
    {
        <div class="product">
            <h1 class="product-heading">Tìm kiếm</h1>
            <p class="result-search">Kết quả tìm kiếm cho "<strong>@ViewBag.keyword</strong>"</p>
            <div class="product__Wrap-Sort-By">
                <div class="sort-by">
                    <span>Sắp xếp theo: </span>
                    <span>
                        <select class="dropdownlist-sort-all">
                            <option value="price-ascending">Giá: Tăng dần</option>
                            <option value="price-descending">Giá: Giảm dần</option>
                            <option value="product-oldest">Cũ nhất</option>
                            <option value="product-newest">Mới nhất</option>
                            <option value="title-ascending">Tên: A-Z</option>
                            <option value="title-descending">Tên: Z-A</option>
                            <option value="best-selling">Bán chạy nhất</option>
                        </select>
                    </span>
                </div>
            </div>
            <div class="row sort-by-result">
                @foreach (var item in Model)
                {
                    <div class="col l-2-4 m-4 c-6">
                        <div class="product__Item">
                            <div class="product__Item__OverlayEffect">
                                <a href="@Url.Action("ProductDetail", "Product", new { @id = item.MaSP })" class="product__Item__Image">
                                    <img class="product-img" src="@Url.Content("/Images/" + item.Pic1)" />
                                </a>
                                <div class="product__Item__Detail">
                                    <a href="@Url.Action("ProductDetail", "Product", new { @id = item.MaSP })">Click để xem chi tiết</a>
                                    <a href="@Url.Action("ProductDetail", "Product", new { @id = item.MaSP })" class="add-to-cart">Đặt hàng</a>
                                </div>
                            </div>
                            <div class="product__Item__Name">
                                <h2>@item.TenSP</h2>
                            </div>
                            <div class="product__Item__Info">
                                @if (item.GiaKhuyenMai == 0)
                                {
                                    <span class="product__Item__Sale">@String.Format("{0:0,0}", item.GiaNiemYet) đ</span>
                                }
                                else
                                {
                                    <del>@String.Format("{0:0,0}", item.GiaNiemYet) đ</del><br />
                                    <span class="product__Item__Sale">@String.Format("{0:0,0}", item.GiaKhuyenMai) đ</span>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="pagelist">
                @Html.PagedListPager(Model, page => Url.Action("SearchProduct", new { @keyword = ViewBag.keyword, page = page }))
            </div>
        </div>
    }
    else
    {
        <div class="product" style="height:300px">
            <h1>Tìm kiếm</h1>
            <p style="padding-left:25px;">Kết quả tìm kiếm cho "<strong>@ViewBag.keyword</strong>"</p>
        </div>
    }
</div>


