@model ChienThangComputer.Models.TechNewsViewModel.Technews


<div class="page-banner" style="margin-top:36px">
    <div class="page-banner__image">
        <h2 style="font-size:24px; color:orangered" >TIN TỨC ĐỀ XUẤT</h2> <br />
        <a href="@Url.RouteUrl("ViewDetail",new { @id = Model.ID })" class="page-banner-gallery">
            <div class="page-banner__overlay"></div>
            <img src="@Model.Image" alt="@Model.Title">
            <div class="page-banner__content">
                <h1 class="page-banner__title">
                    @Model.Title
                </h1>
                <span class="page-banner__date-update">@Html.FormatValue(Model.DateUpdate, "{0:dd/MM/yyyy}")</span>
            </div>
        </a>
    </div>
</div>

