@model PagedList.IPagedList<ChienThangComputer.TinTuc>

@using PagedList.Mvc;

@{
    ViewBag.Title = "ListCategory";
    Layout = "~/Views/TechNews/_LayoutTechNews.cshtml";
}

<h1 class="category-name">@ViewBag.Category</h1>
@if (ViewBag.Category == "Công nghệ")
{
    <p class="category-excerpt">
        Chuyên mục Công Nghệ của Chiến Thắng 360 sẽ cập nhật đến các bạn các sản phẩm, xu hướng công nghệ mới
        nhất
        tại Việt Nam lẫn toàn thế giới. Thông tin được cập nhật chọn lọc, chính xác, chất lượng, liên tục
        bởi đội ngũ biên tập viên chuyên nghiệp.
    </p>
}
<div class="page-content-home">
    <div class="row row-page-list-feature">
        @foreach (var item in Model.Take(2))
        {
            <div class="col c-12 m-6 l-6">
                <div class="pch-block-box-wrap">
                    <div class="pch-block-box-inner">
                        <a href="@Url.RouteUrl("ViewDetail", new { @id = item.MaTin })" class="pch-block-gallery">
                            <div class="pch-block-box-overlay"></div>
                            <img style="height:329px" src="@item.HinhAnh" alt="@item.TieuDeTin">
                            <div class="pch-block__content">
                                <h1 class="pch-block__title">
                                    @item.TieuDeTin
                                </h1>
                                <span class="pch-block__date-update">@Html.FormatValue(item.NgayDang, "{0:dd/MM/yyyy}")</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="pch-page-list-news">
        <div class="pch-block-title-wrap">
            <h4 class="pch-block-title">Danh sách bài viết</h4>
        </div>
        @foreach (var item in Model)
        {
            <div class="pch-page-item-news">
                <div class="pch-page-item-img">
                    <a href="@Url.RouteUrl("ViewDetail", new { @id = item.MaTin })"><img src="@item.HinhAnh" alt="@item.TieuDeTin"></a>
                </div>
                <div class="pch-page-item-info">
                    <h3 class="pch-page-item-info-name">
                        <a href="@Url.RouteUrl("ViewDetail", new { @id = item.MaTin })">
                            @item.TieuDeTin
                        </a>
                    </h3>
                    <p class="pch-page-item-date-update">@Html.FormatValue(item.NgayDang, "{0:dd/MM/yyyy}")</p>
                    <p class="pch-page-item-excerpt">
                        @item.DoanTrich
                    </p>
                </div>
            </div>
        }
    </div>
    <div class="pagelist">
        @Html.PagedListPager(Model, page => Url.Action("ListCategory", new { @category = ViewBag.Category, page = page }))
    </div>
</div>
