@model ChienThangComputer.TinTuc

@{
    ViewBag.Title = "ViewDetail";
    Layout = "~/Views/TechNews/_LayoutTechNews.cshtml";
}

<div class="page-breadcrumb-list">
    <div class="page-breadcrumb-item">
        <a href="#" class="page-breadcrumb-item-link">
            Trang chủ
        </a>
    </div>
    <div class="page-breadcrumb-item">
        <a href="@Url.RouteUrl("ListCategory", new { @category = Model.LoaiTinTuc.TenLoaiTin })" class="page-breadcrumb-item-link">
            @Model.LoaiTinTuc.TenLoaiTin
        </a>
    </div>
    <div class="page-breadcrumb-item">
        <a href="@Url.RouteUrl("ViewDetail", new { @id = Model.MaTin })" class="page-breadcrumb-item-link">
            @Model.TieuDeTin
        </a>
    </div>
</div>
<div class="page-banner">
    
    <div class="page-banner__image">
        <a href="@Url.RouteUrl("ViewDetail",new { @id = Model.MaTin })" class="page-banner-gallery">
            <div class="page-banner__overlay"></div>
            <img src="@Model.HinhAnh" alt="@Model.TieuDeTin">
            <div class="page-banner__content">
                <h1 class="page-banner__title">
                    @Model.TieuDeTin
                </h1>
                <span class="page-banner__date-update">@Html.FormatValue(Model.NgayDang, "{0:dd/MM/yyyy}")</span>
            </div>
        </a>
    </div>
</div>
@Html.Raw(Model.NoiDung)
@Html.Action("Relevant","TechNews",new { @id_TechNew = Model.MaTin, @id_Category = Model.MaLoaiTin })

