@model IEnumerable<GVNClone.Models.Cart>

@{
    ViewBag.Title = "GoToCart";
    Layout = "~/Views/Layout/_LayoutPage.cshtml";
}


@if (ViewBag.Total_Quantity.Equals(0))
{
    <div class="grid wide">
        <div class="layout-page-EmptyCart">
            <h3 class="title-cart">Giỏ hàng</h3>
            <p>Không có sản phẩm nào trong giỏ hàng!</p>
            <p><a href="@Url.Action("DisplayAllProduct","Product")" class="a-style"><i class="fa fa-reply"></i> Tiếp tục mua hàng</a></p>
        </div>
    </div>
}
else
{
    <div class="grid wide">
        <div class="layout-page-cart">
            <h3 class="title-cart text-center">Giỏ hàng</h3>
            <div class="tbl-cart-wrap">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <td>Sản phẩm</td>
                            <td>Tên sản phẩm</td>
                            <td>Số lượng</td>
                            <td>Giá tiền</td>
                            <td>Xoá</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td><img src="@Url.Content("/Images/"+ @item.product_Image)" width="100" height="100" /></td>
                                <td><a class="a-style" href="@Url.RouteUrl("ProductDetail", new { @id = item.product_ID, @name = item.product_Name.Replace(" ", "-")})"><strong>@item.product_Name</strong></a></td>
                                @using (Html.BeginForm("UpdateCart", "Cart", new { @iProduct_ID = item.product_ID }, FormMethod.Post, new { id = "formSubmit" }))
                                {
                                    <td><input type="number" name="txtQuantity" min="1" value="@item.product_Quantity" /></td>
                                    <td>@String.Format("{0:0,0}", item.total_Amount)</td>
                                    <td><a href="@Url.Action("ItemCartRemove", "Cart", new { @iProduct_ID = item.product_ID })"><i class="fa fa-trash-alt"></i></a></td>
                                    <td><button class="btnUpdateCart">Cập nhật</button></td>

                                }
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4" style="font-weight:bold">Tổng tiền</td>
                            <td colspan="2">@String.Format("{0:0,0}", ViewBag.Total_Amount) <span style="text-decoration:underline">đ</span></td>
                        </tr>
                        <tr>
                            <td colspan="6" class="text-center">@Html.TextArea("txtNote", new { @class = "form-control form-control__note", @placeholder = "Ghi chú" })</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="handleButtonCart">
                <a style="text-decoration:none;" class="btnPay" onclick="SaveNote()" href="@Url.Action("Checkout","Cart")">Thanh toán</a>
            </div>
        </div>
    </div>
}

@section jsFooter{
    <script>
        function SaveNote() {
            var getNote = $("#txtNote").val();
            localStorage.setItem("note", getNote);
        }
    </script>
}

