
@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MARKLEO.COM</title>
    <link rel="short icon" href="/MarkLeo.ico" />
    <link href="~/fonts/FontAwesome-5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="/Content/css/main.css" rel="stylesheet" />
    <link href="/Content/css/grid.css" rel="stylesheet" />
    <link href="/Content/css/responsive.css" rel="stylesheet" />
</head>
<body>
    <div class="page-wrap-checkout">
        <div class="grid wide">
            <div class="wrap-content-checkout">
                <div class="row flex-column-reverse">
                    <div class="col l-7 m-12 c-12">
                        <div class="main">
                            <h3 class="logo-title hide-on-mobile-tablet">MARKLEO.COM</h3>
                            <div class="main-content">
                                <div class="order-success">
                                    <h3 class="order-success__title">Đặt hàng thành công</h3>
                                    <p>Mã đơn hàng #3</p>
                                    <p style="font-weight:600;">Cảm ơn bạn đã mua hàng</p>
                                </div>
                                <div class="order-content">
                                    <div class="order-info">
                                        <h3 class="order-info__title">Thông tin đơn hàng</h3>
                                        <p class="title-order">Thông tin giao hàng</p>

                                        <div class="customer-info">
                                            @{
                                                KhachHang cus = Session["Data"] as KhachHang;
                                            }
                                            <p>@cus.HoTen</p>
                                            <p>@cus.Email</p>
                                            <p>@cus.SoDienThoai</p>
                                            <p>@cus.DiaChi</p>
                                        </div>
                                    </div>
                                    <div class="payment-method">
                                        <p style="margin-bottom:10px;">Phương thức thanh toán</p>
                                        <p style="margin-bottom:10px;">Thanh toán khi giao hàng (COD)</p>
                                    </div>
                                </div>
                                <div class="fieldset-footer">
                                    <div class="fieldset-footer__question">
                                        <p style="color:#171616b8; font-weight:500; font-size:15px;"><span class="mark-question">?</span> Cần hỗ trợ? <span style="color:#338dbc; font-weight:bold; margin-left:3px;">Liên hệ chúng tôi</span></p>
                                    </div>
                                    <div class="fieldset-footer__back-to-home">
                                        <a href="/" class="btn-go-home">Tiếp tục mua hàng</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col l-5 m-12 c-12">
                        <div class="sidebar">
                            <h3 class="logo-title-mobile">MARKLEO.COM</h3>
                            <div class="main-content-sidebar">
                                <div class="info-cart-wrap-mobile">
                                    <div class="vis-hid-cart-list" id="js-handle-cart-list">
                                        <i class="fas fa-shopping-cart icon-cart-mobile"></i>
                                        <span class="info-cart-text"><span class="info-cart-text--animate">Hiển thị</span> thông tin đơn hàng</span>
                                        <i class="fas fa-chevron-down icon-cart-mobile"></i>
                                    </div>
                                    <div class="info-cart-total-price">
                                        <span class="info-cart-total-price__text">@String.Format("{0:0,0}", ViewBag.Total_Amount)₫</span>
                                    </div>
                                </div>
                                <div class="item-cart hide-on-mobile-tablet">
                                    <table class="table">
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr class="item-cart-wrap">
                                                    <td class="item-cart-img-wrap"><img class="item-image-cart" src="@Url.Content("/Images/" + item.product_Image)" width="60" height="60" /><span class="product-thumbnail-quantity">@item.product_Quantity</span></td>
                                                    <td><p class="item-name-product">@item.product_Name</p></td>
                                                    <td class="item-price-product-wrap"><p class="item-price-product">@String.Format("{0:0,0}", item.product_Price)₫</p></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <div class="total-price-table hide-on-mobile-tablet">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td class="customize-td-tbl">Tạm tính</td>
                                                <td class="text-right customize-td-tbl js-total-payment">@String.Format("{0:0,0}", ViewBag.Total_Amount)₫</td>
                                            </tr>
                                            <tr>
                                                <td style="font-size:15px;color:#717171;" class="px-0">Phí vận chuyển</td>
                                                <td class="text-right px-0">---</td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td>Tổng cộng</td>
                                                <td class="text-right payment-price"><span>VNĐ</span><span class="js-total-payment">@String.Format("{0:0,0}", ViewBag.Total_Amount)₫</span></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Content/js/jquery-3.5.1.min.js"></script>
    <script>
        var isShow = false;

        $("#js-handle-cart-list").click(function () {
            if (!isShow) {
                $(".info-cart-text--animate").html("Ẩn");
                isShow = true;
            } else {
                $(".info-cart-text--animate").html("Hiển thị");
                isShow = false;
            }
            $(".item-cart").toggleClass("hide-on-mobile-tablet");
            $(".total-price-table").toggleClass("hide-on-mobile-tablet");
        })

        $(function () {
            let totalPayment;
            if (localStorage.getItem("totalPayment")) {
                totalPayment = localStorage.getItem("totalPayment");
                $(".js-total-payment").html(parseFloat(totalPayment).toLocaleString() + "đ");
            }
        })

        $(document).ready(function () {
            localStorage.removeItem("totalPayment");
            localStorage.removeItem("discountPrice");
            localStorage.removeItem("discountCode");
            $(document).load(function () {
                window.location.href = "/";
            })
        });
    </script>
</body>
</html>

