@model GVNClone.ThanhVien

@{
    ViewBag.Title = "AddMember";
    Layout = "~/Views/Layout/_AdminLayout.cshtml";
}

<div class="ibox">
    <div class="ibox-head">
        <div class="ibox-title">Thêm thành viên mới</div>
        <div class="ibox-tools">
            <a class="ibox-collapse"><i class="fa fa-minus"></i></a>
        </div>
    </div>
    @using (Html.BeginForm("AddMember", "Admin", FormMethod.Post, new { @id = "form-sample-1", @class = "form-horizontal" }))
    {
        <div class="ibox-body">
            @Html.HiddenFor(model => model.MaTV)
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Tên hiển thị</label>
                <div class="col-sm-10">
                    @Html.TextBox("TaiKhoan","", new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Mật khẩu</label>
                <div class="col-sm-10">
                    @Html.TextBox("MatKhau", "", new { @class = "form-control", type = "password" })
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Họ tên</label>
                <div class="col-sm-10">
                    @Html.TextBox("HoTen", "", new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Địa chỉ</label>
                <div class="col-sm-10">
                    @Html.TextBox("DiaChi", "", new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    @Html.TextBox("Email", "", new { @class = "form-control", type = "email" })
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Số điện thoại</label>
                <div class="col-sm-10">
                    @Html.TextBox("SoDienThoai", "", new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Loại thành viên</label>
                <div class="col-sm-10">
                    @Html.DropDownList("MaLoaiTV", null, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10 ml-sm-auto">
                    <button class="btn btn-info px-4" type="submit" style="cursor:pointer">Thêm</button>
                </div>
            </div>
        </div>
    }
</div>

