
@{
    ViewBag.Title = "CreateVoucher";
    Layout = "~/Views/Layout/_AdminLayout.cshtml";
}


@section cssPlugin{
    <link href="~/Content/AdminLayout/assets/vendors/Daterangepicker/daterangepicker.css" rel="stylesheet" />
    <link href="~/Content/AdminLayout/assets/vendors/chosen_v1.8.7/chosen.min.css" rel="stylesheet" />
}

<div class="ibox">
    <div class="ibox-body">
        @using (Html.BeginForm("CreateVoucher", "SaleOff", FormMethod.Post, new { @id = "list-model" }))
        {
            <div class="box-promo-wrapper">
                <div class="box-promo box-promo-event">
                    <div class="box-promo__heading">
                        <h1>Sự kiện khuyến mãi</h1>
                    </div>
                    <div class="box-promo__body">
                        <div class="box-promo__item">
                            <span class="box-promo__item-label">Mã khuyến mãi</span>
                            <input id="pro_id" type="text" name="MaKM" class="box-promo__item-input" placeholder="Nhập mã khuyến mãi" autocomplete="off">
                        </div>
                        <div class="box-promo__item">
                            <span class="box-promo__item-label">Tên khuyến mãi</span>
                            <input id="pro_name" type="text" name="TenKM" class="box-promo__item-input" placeholder="Nhập tên khuyến mãi" autocomplete="off">
                        </div>
                        <div class="box-promo__item">
                            <span class="box-promo__item-label">Hình ảnh</span>
                            <input id="pro_img" type="file" name="Anh" class="box-promo__item-input">
                        </div>
                        <div class="box-promo__item">
                            <span class="box-promo__item-label">Start - End</span>
                            <input id="pro_start_end" type="text" name="datetimes" class="box-promo__item-input" />
                            @Html.TextBox("NgayBatDau", "", new { @class = "box-promo__item-input", type = "hidden" })
                            @Html.TextBox("NgayKetThuc", "", new { @class = "box-promo__item-input", type = "hidden" })
                        </div>
                        <div class="box-promo__item">
                            <span class="box-promo__item-label">Giá trị khuyến mãi</span>
                            <input id="pro_price" type="text" name="GiaTriKM" class="box-promo__item-input" placeholder="Nhập giá trị khuyến mãi" autocomplete="off">
                        </div>
                        <div class="box-promo__item">
                            <span class="box-promo__item-label">Giá trị đơn hàng</span>
                            <input id="pro_price_cart" type="text" name="GiaTriDonHang" class="box-promo__item-input" placeholder="Nhập giá trị đơn hàng tối thiểu" autocomplete="off">
                        </div>
                        <div class="box-promo__item">
                            <span class="box-promo__item-label">Số lần sử dụng</span>
                            <input id="pro_quantity" type="text" name="SoLanSuDung" class="box-promo__item-input" placeholder="Nhập số lần sử dụng" autocomplete="off">
                        </div>
                        <div class="box-promo__item">
                            <span class="box-promo__item-label">Phạm vi áp dụng</span>
                            <select class="box-promo__item-select" id="pro_scope" name="PhamViApDung">
                                <option value="Người mới" class="box-promo__item-option">Người mới</option>
                                <option value="Tất cả" class="box-promo__item-option">Tất cả</option>
                            </select>
                        </div>
                        <div class="box-promo__button">
                            <button class="btn-create-pro" type="button" id="js-btn-create-pro"><span class="btn-pro-text">Tạo</span></button>
                        </div>
                    </div>
                </div>
                <div class="box-promo box-promo-option">
                    <div class="box-promo-option-heading">
                        <div class="box-promo-option-heading-control">
                            <label>
                                <input type="checkbox" id="inp-apply-for" />
                                <span></span>
                                <i class="indicator"></i>
                            </label>
                            <label for="inp-apply-for">Áp dụng cho sản phẩm</label>
                        </div>
                    </div>
                    <div class="box-promo-option-body" id="js-box-promo-option-body">

                        <h3 class="box-promo-option-body-title">Sản phẩm áp dụng</h3>
                        <div class="box-promo-option-body-control">
                            <button class="btn btn-success" id="btn-create-select-lst-product" type="button"><i class="fa fa-plus" aria-hidden="true"></i>Thêm</button>
                        </div>
                        <div class="box-promo-option-body-lst-select-wrap">

                            <div class="box-promo-option-body-lst-select" data-id="0">
                                <select class="lst-product-applied" name="[0].MaSP">
                                    @foreach (var item in ViewBag.LstProduct)
                                    {
                                        <option value="@item.MaSP">
                                            @item.TenSP
                                        </option>
                                    }
                                </select>
                                <button type="button" class="btn btn-danger btn-delete-select-lst-product">Xoá</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    @*<div id="blobmarker-1" class="blobmarker">
            <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                <path fill="#616161" d="M39.8,-56.9C44.5,-51.5,36.2,-30.2,35.7,-15.4C35.3,-0.6,42.7,7.8,43.9,17.4C45.2,27,40.2,37.7,31.8,49.7C23.4,61.6,11.7,74.9,2.9,71C-5.9,67,-11.9,45.8,-19.6,33.6C-27.3,21.4,-36.8,18.2,-47,9.8C-57.2,1.4,-68.2,-12.2,-69.3,-26.7C-70.3,-41.2,-61.3,-56.6,-48.1,-59.2C-34.9,-61.8,-17.4,-51.6,0.1,-51.7C17.6,-51.9,35.2,-62.3,39.8,-56.9Z" transform="translate(100 100)" />
            </svg>
        </div>
        <div id="blobmarker-2" class="blobmarker">
            <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                <path fill="#ff5722" d="M35.9,-50.5C50.1,-39.1,67.6,-33.4,74.6,-21.9C81.5,-10.4,77.8,6.8,71.9,22.9C66.1,39,58.1,53.9,45.7,60.1C33.4,66.3,16.7,63.7,-0.7,64.7C-18.2,65.7,-36.3,70.3,-44.3,62.8C-52.3,55.2,-50.1,35.4,-49.1,20.3C-48.1,5.1,-48.2,-5.3,-42.9,-11.5C-37.5,-17.7,-26.6,-19.6,-18.5,-33C-10.5,-46.4,-5.2,-71.2,2.8,-75.1C10.8,-79,21.7,-61.8,35.9,-50.5Z" transform="translate(100 100)" />
            </svg>
        </div>
        <div id="blobmarker-3" class="blobmarker">
            <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                <path fill="#0288d1" d="M47.3,-62.8C59.7,-56.1,66.9,-40.1,71.5,-23.8C76,-7.4,77.9,9.2,71.8,21.9C65.7,34.5,51.7,43.1,38.4,52C25.1,60.9,12.5,70.1,-1.1,71.6C-14.8,73.2,-29.6,67.1,-42.8,58.2C-56,49.3,-67.7,37.6,-71.6,23.7C-75.5,9.9,-71.6,-6.1,-66.1,-21C-60.6,-35.9,-53.4,-49.8,-42.2,-56.8C-30.9,-63.8,-15.4,-63.8,1,-65.2C17.5,-66.6,35,-69.4,47.3,-62.8Z" transform="translate(100 100)" />
            </svg>
        </div>
        <div id="blobmarker-4" class="blobmarker">
            <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                <path fill="#8e24aa" d="M38.6,-48.7C47.6,-38.5,50.6,-24,45.7,-13.7C40.9,-3.4,28.1,2.7,21.5,10.8C14.9,19,14.6,29.1,10.1,33.1C5.6,37,-3.2,34.9,-18.6,35.9C-34.1,36.9,-56.4,41.1,-63.7,34.1C-71.1,27,-63.6,8.5,-60.5,-10.9C-57.4,-30.4,-58.6,-50.9,-49.3,-61C-39.9,-71.1,-20,-70.7,-2.6,-67.7C14.8,-64.6,29.7,-58.9,38.6,-48.7Z" transform="translate(100 100)" />
            </svg>
        </div>*@
</div>

@section jsFooter{
    <script src="~/Content/js/moment.min.js"></script>
    <script src="~/Content/AdminLayout/assets/vendors/Daterangepicker/daterangepicker.min.js"></script>
    <script src="~/Content/AdminLayout/assets/vendors/chosen_v1.8.7/chosen.jquery.min.js"></script>
    @if (TempData["MessageCpsError"] != null)
    {
        <script>
            Swal.fire({
                        title: 'Thông báo',
                        text: '@Html.Raw(TempData["MessageCpsError"])',
                        icon: 'error'
                    })
        </script>
    }
    @if (TempData["MessageCpsSuccess"] != null)
    {
        <script>
            Swal.fire({
                        title: 'Thông báo',
                        text: '@Html.Raw(TempData["MessageCpsSuccess"])',
                        icon: 'success'
                    })
        </script>
    }
    <script>
        $(function () {

            let now = new Date();
            $('input[name="datetimes"]').daterangepicker({
                timePicker: true,
                timePicker24Hour: true,
                startDate: moment().startOf('hour'),
                endDate: moment().startOf('hour').add(32, 'hour'),
                minDate: now.toLocaleDateString(),
                showDropdowns: true,
                locale: {
                    format: 'M/DD/YYYY hh:mm A',
                }
            });

            $(".lst-product-applied").chosen();

            var boxListProductApplied = $("#js-box-promo-option-body");

            var checkBoxApplied = $("#inp-apply-for");

            checkBoxApplied.change(function () {
                if ($(this).is(":checked")) {
                    boxListProductApplied.css({
                        opacity: "1",
                        visibility: "visible",
                    });
                } else {
                    boxListProductApplied.css({
                        opacity: "0",
                        visibility: "hidden",
                    });
                }
            })

            var boxWrap = $(".box-promo-option-body-lst-select-wrap");
            var boxItem = $(".box-promo-option-body-lst-select");

            $("#btn-create-select-lst-product").click(function () {
                var getDataID = boxWrap.find(".box-promo-option-body-lst-select:last-child").attr("data-id");
                i = parseInt(getDataID) + 1;
                var box = "<div class='box-promo-option-body-lst-select appended' data-id='" + i + "'>" + boxItem.html() + "</div>";
                boxWrap.append(box);
                $(".box-promo-option-body-lst-select:last select").chosen();
                $(".box-promo-option-body-lst-select:last select").next().next().remove();
                setNameListModel();
            })

            function setNameListModel() {
                $(".appended").each(function () {
                    var id = $(this).data("id");
                    var namePropProduct = "[" + id + "].MaSP";
                    $(this).find(".lst-product-applied").prop("name", namePropProduct);
                })
            }

            function updateIndexListModel() {
                var getDataID = boxWrap.find(".box-promo-option-body-lst-select:first-child").attr("data-id");
                i = parseInt(getDataID) + 1;
                $(".appended").each(function () {
                    var id = i;
                    $(this).attr("data-id", id);
                    var namePropProduct = "[" + id + "].MaSP";
                    $(this).find(".lst-product-applied").prop("name", namePropProduct);
                    i++;
                })
            }

            $("body").delegate(".btn-delete-select-lst-product", "click", function () {
                var id = $(this).closest(".box-promo-option-body-lst-select").attr("data-id");
                if (id != 0) {
                    $(this).closest(".box-promo-option-body-lst-select").remove();
                    updateIndexListModel();
                }
            })



            //let hexString = "0123456789abcdef";

            //let randomColor = () => {
            //    var hexCode = "#";
            //    for (var i = 0; i < 6; i++) {
            //        hexCode += hexString[Math.floor(Math.random() * hexString.length)];
            //    }
            //    return hexCode;
            //}

            //let assignSVGColor = () => {
            //    for (var i = 1; i < 5; i++) {
            //        var newColor = randomColor();
            //        var blobmarker = $("#blobmarker-" + i + " svg path");
            //        blobmarker.css({
            //            fill: newColor,
            //            transition: "all .3s linear"
            //        });
            //    }
            //}

            //setInterval(() => assignSVGColor(), 4000);

            //var delayAjax = 1000;

            //var res = {
            //    loader: $("<div>", {
            //        class: 'loader'
            //    })
            //};

            $("#js-btn-create-pro").click(function () {
                if (!checkBoxApplied.is(':checked')) {
                    boxListProductApplied.remove();
                }
                const pro_id = $("#pro_id");
                const pro_name = $("#pro_name");
                const pro_start_end = $("#pro_start_end").val();
                const pro_price = $("#pro_price");
                const pro_price_cart = $("#pro_price_cart");
                const pro_quantity = $("#pro_quantity");
                var timeStart = pro_start_end.substring(pro_start_end.indexOf("-") - 1, -1);
                var timeEnd = pro_start_end.substring(pro_start_end.indexOf("-") + 2);
                $('input[name="NgayBatDau"]').val(timeStart);
                $('input[name="NgayKetThuc"]').val(timeEnd);

                var isValid = validatePromo(pro_id.val().trim(), pro_name.val().trim(), pro_price.val().trim(), pro_price_cart.val().trim(), pro_quantity.val().trim());

                if (isValid) {
                    $("#list-model").submit();
                    //var obj;
                    //if (checkBoxApplied.is(":checked")) {
                    //    obj = {
                    //        pro_id: pro_id.val().trim(),
                    //        pro_name: pro_name.val().trim(),
                    //        pro_img: pro_img.val().trim(),
                    //        timeStart: timeStart,
                    //        timeEnd: timeEnd,
                    //        pro_price: parseFloat(pro_price.val().trim()),
                    //        pro_price_cart: parseFloat(pro_price_cart.val().trim()),
                    //        pro_quantity: parseInt(pro_quantity.val().trim()),
                    //        pro_scope: pro_scope,
                    //        lstModel: $("#list-model").serialize(),
                    //    }
                    //} else {
                    //    obj = {
                    //        pro_id: pro_id.val().trim(),
                    //        pro_name: pro_name.val().trim(),
                    //        pro_img: pro_img.val().trim(),
                    //        timeStart: timeStart,
                    //        timeEnd: timeEnd,
                    //        pro_price: parseFloat(pro_price.val().trim()),
                    //        pro_price_cart: parseFloat(pro_price_cart.val().trim()),
                    //        pro_quantity: parseInt(pro_quantity.val().trim()),
                    //        pro_scope: pro_scope,
                    //    }
                    //}
                    //$.ajax({
                    //    type: 'POST',
                    //    url: '/SaleOff/CreateVoucher',
                    //    beforeSend: function () {
                    //        $(".btn-pro-text").parent().html(res.loader);
                    //    },
                    //    data: obj,
                    //    dataType: "json",
                    //    success: function (response) {
                    //        setTimeout(() => {
                    //            if (response.status === 200) {
                    //                var textInnerPro = "<span class='btn-pro-text'>Tạo</span>";
                    //                $(".loader").parent().html(textInnerPro);
                    //                Clear(pro_id, pro_name, pro_img, pro_price, pro_price_cart, pro_quantity);
                    //                Swal.fire({
                    //                    text: response.message,
                    //                    icon: 'success'
                    //                })
                    //            }
                    //            if (response.status === 406) {
                    //                var textInnerPro = "<span class='btn-pro-text'>Tạo</span>";
                    //                $(".loader").parent().html(textInnerPro);
                    //                Swal.fire({
                    //                    text: response.message,
                    //                    icon: 'error'
                    //                })
                    //            }
                    //        }, delayAjax);
                    //    },
                    //    error: function (request) {
                    //        console.log(request);
                    //    }
                    //})
                } else {
                    return false;
                }
            })

            //let Clear = (...resParam) => {
            //    for (let i = 0; i < resParam.length; i++) {
            //        resParam[i].val('');
            //    }
            //}

            function validatePromo(id, name, pro_price, price_cart, quantity) {
                if (id.length === 0) {
                    Swal.fire({
                        text: 'Vui lòng nhập mã khuyến mãi!',
                        icon: 'error'
                    })
                    return false;
                }
                if (id.length > 20) {
                    Swal.fire({
                        text: 'Mã khuyến mãi không quá 20 kí tự!',
                        icon: 'error'
                    })
                    return false;
                }
                if (name.length === 0) {
                    Swal.fire({
                        text: 'Vui lòng nhập tên khuyến mãi!',
                        icon: 'error'
                    })
                    return false;
                }
                if (pro_price.length === 0) {
                    Swal.fire({
                        text: 'Vui lòng nhập giá trị khuyến mãi (VNĐ)',
                        icon: 'error'
                    })
                    return false;
                }
                if (isNaN(pro_price) === 0 || isNaN(pro_price)) {
                    Swal.fire({
                        text: 'Giá trị khuyến mãi không hợp lệ!',
                        icon: 'error'
                    })
                    return false;
                }
                if (price_cart.length === 0) {
                    Swal.fire({
                        text: 'Vui lòng nhập giá trị đơn hàng tối thiểu!',
                        icon: 'error'
                    })
                    return false;
                }
                if (isNaN(price_cart) === 0 || isNaN(price_cart)) {
                    Swal.fire({
                        text: 'Giá trị đơn hàng tối thiểu không hợp lệ!',
                        icon: 'error'
                    })
                    return false;
                }
                if (quantity.length === 0) {
                    Swal.fire({
                        text: 'Vui lòng nhập số lượng sử dụng!',
                        icon: 'error'
                    })
                    return false;
                }
                if (isNaN(quantity) === 0 || isNaN(quantity)) {
                    Swal.fire({
                        text: 'Số lượng sử dụng không hợp lệ!',
                        icon: 'error'
                    })
                    return false;
                }
                return true;
            }

        });
    </script>
}

