@model ChienThangComputer.GiamGia



<div class="modal-inner">
    <div class="form-group">
        <label for="sale-price" class="form-label">Giá trị khuyến mãi</label>
        <input id="sale-price" type="text" class="form-control"
               placeholder="Nhập giá trị khuyến mãi" name="GiaKhuyenMai" autocomplete="off" value="@Model.GiaKhuyenMai">
    </div>
    <div class="form-group">
        <label for="pro_start_end" class="form-label">Thời gian bắt đầu</label>
        <input id="pro_start_end" type="text" name="datetimes" class="form-control" />
        @Html.TextBox("NgayBatDau", "", new { type = "hidden" })
        @Html.TextBox("NgayKetThuc", "", new { type = "hidden" })
    </div>
    <div class="form-group text-right">
        <button class="btn btn-success btn-update-sale" data-id="@Model.MaGiamGia">Cập nhật</button>
    </div>
</div>

<script>

    $('input[name="datetimes"]').daterangepicker({
        timePicker: true,
        timePicker24Hour: true,
        startDate: '@Model.NgayBatDau',
        endDate: '@Model.NgayKetThuc',
        minDate: now.toLocaleDateString(),
        showDropdowns: true,
        locale: {
            format: 'M/DD/YYYY hh:mm A',
        }
    });

    $(".btn-update-sale").click(function () {
        var salePrice = $("#sale-price").val().trim();
        var pro_start_end = $("#pro_start_end").val();
        if (salePrice.length === 0) {
            Swal.fire({
                text: 'Vui lòng nhập giá khuyến mãi!',
                icon: 'error'
            })
            return false;
        } else if (isNaN(salePrice)) {
            Swal.fire({
                text: 'Giá khuyến mãi không hợp lệ!',
                icon: 'error'
            })
            return false;
        } else {
            var timeStart = pro_start_end.substring(pro_start_end.indexOf("-") - 1, -1);
            var timeEnd = pro_start_end.substring(pro_start_end.indexOf("-") + 2);
            var getID = $(this).data("id");
            $('input[name="NgayBatDau"]').val(timeStart);
            $('input[name="NgayKetThuc"]').val(timeEnd);
            $.ajax({
                type: 'POST',
                url: '/SaleOff/UpdateSalePrice',
                data: { id: parseInt(getID), sale_price: salePrice, timeStart: timeStart, timeEnd: timeEnd },
                success: function (res) {
                    if (res.statusCode === 200) {
                        Swal.fire({
                            text: res.message,
                            icon: 'success'
                        }).then(function () {
                            window.location.reload();
                        })
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR.responseText);
                    console.log(errorThrown);
                }
            })
        }
    })
</script>